<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357133723889-o5laerrumq5inuk5s8r3n6ds97q2d5ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357133723889-o5laerrumq5inuk5s8r3n6ds97q2d5ti</string>
	<key>API_KEY</key>
	<string>AIzaSyAW_UhFBtNffidl4aL6Njy-YBvecjc4e4U</string>
	<key>GCM_SENDER_ID</key>
	<string>357133723889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.StanfordDaily</string>
	<key>PROJECT_ID</key>
	<string>grocerytest-95615</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerytest-95615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357133723889:ios:95e1f92dba5bbb4b</string>
	<key>DATABASE_URL</key>
	<string>https://grocerytest-95615.firebaseio.com</string>
</dict>
</plist>