<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>166745143282-5t2g0rg0uf3j964blmkqcjikhhoq3c7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166745143282-5t2g0rg0uf3j964blmkqcjikhhoq3c7p</string>
	<key>API_KEY</key>
	<string>AIzaSyCpHzqB-QmV7UqswWDkmUA6v9tJWjcy-AI</string>
	<key>GCM_SENDER_ID</key>
	<string>166745143282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Stanford.Daily.App</string>
	<key>PROJECT_ID</key>
	<string>stanforddailyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>stanforddailyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166745143282:ios:bb66ed3a014cf8ef</string>
	<key>DATABASE_URL</key>
	<string>https://stanforddailyapp.firebaseio.com</string>
</dict>
</plist>